.main-color {
	background-image: linear-gradient(to right, #766dff, #88f2ff);
}

.button-color-custom {
	background-color: #7d9fff;
}

.border-porto {
	border: 0.125rem solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
}

.align-bottom-right {
  position: absolute;
  bottom: 1rem;
}

.parent-relative {
  position: relative;
}

.max-height-custom {
	max-height: 100%;
	display: flex;
}